{% extends './base.html' %}

{% block content %}

    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Order Infomation</h4>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Fullname</label>
                            <input class="form-control" type="text" readonly name="John" value="{{ acc.fullname }}">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Shipment</label>
                            <input class="form-control" type="text" readonly name="John" value="VN Express ">
                        </div>
                        <div class="col-md-12 form-group">
                            <label>Address</label>
                            <select class="custom-select">
                                {% for addr in address %}
                                    <option value="{{ addr.id }}">{{ addr.phone }} - {{ addr.address }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="shipto">
                                <label class="custom-control-label" for="shipto" data-toggle="collapse"
                                       data-target="#shipping-address">Ship to different address</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Products</h5>
                        {% for product in products %}
                            <div class="d-flex justify-content-between">
                                <p>{{ product.name }}</p>
                                <p>${{ product.total }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">${{ sum }}</h5>
                        </div>
                    </div>
                </div>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Payment</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="paypal" checked>
                                <label class="custom-control-label" for="paypal">Paypal</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <form action="/payment" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="total" value="{{ sum }}">
                            <button class="btn btn-primary w-100 place-pay">Place pay</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var total = '{{sum}}'
        if (total < 0) window.location.replace('/cart');
    </script>

{% endblock %}
